/* FONT: */

@font-face {
    font-family: frizqt;
	src: url(fonts/frizqt.ttf);
}

/* HEADER: */

#header {
	margin-top: 0px;
}

#header-gears {
	width: 20%;
}

#header-gear-large{
	float: left;
	background: url("images/gear.png") no-repeat 50%;
	background-size: auto 100%;
	animation-name: gear-large-spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#header-gear-small{
	/* height: 120px; */
	/* width: 120px; */
	/* margin-top: 80px; */
	/* margin-left: 110px; */
	background: url("images/gear.png") no-repeat 50%;
	background-size: auto 100%;
	animation-name: gear-small-spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#header-text{
	width: 80%;
	vertical-align: middle;
	color: rgba(255, 230, 130, 0.9);
}

#header-text-mm{
	/* font-size: 80px; */
}

#header-text-engine{
	/* padding-left: 10px; */
	/* font-size: 40px; */
}
#header-text-describe{
	/* padding-left: 40px; */
	/* font-size: 30px; */
}

#header-text-download{
	/* padding-left: 40px; */
	/* font-size: 30px; */
	display: none;
}

#header-text-manual{
	/* padding-left: 40px; */
	/* font-size: 30px; */
	display: none;
}

#header-text-mods{
	/* padding-left: 40px; */
	/* font-size: 30px; */
	display: none;
}

/* MENU: */

#menu{
}

#menuline{
	width: 100%;
	/* border-spacing: 10px; */
}

.button {
	width: 25%;
	/* height: 30px; */
	/* padding: 10px; */
	background-image: url(images/button.png);
	background-size: 100% 100%;
	color: rgba(255, 230, 130, 0.9);
	/* font-size: 20px; */
	text-align: center;
	vertical-align: middle;
	cursor: url('cursor.cur'), auto;
	opacity: 0.95;
}

.button-pressed {
	background-image: url(images/button-pressed.png);
}

.button:active , .button-pressed:active {
	padding-left: 0.73% !important;
	padding-bottom: 0.73% !important;
	background-image: url(images/button-pressed.png);
	color: rgba(255, 255, 0, 0.6);
}

.button:hover {
	color: white;
	opacity: 1;
	cursor: url('cursors/pointer.cur'), auto;
}

.button:hover .hotkey {
	color: rgba(255, 230, 130, 0.9);
}

/* CONTENT: */

#content {
	color: rgba(255, 230, 130, 0.9);
	text-align: center;
}

#about{
	display: block;
}

.transmission {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	/* padding-top: 15px; */
	/* padding-bottom: 15px; */
	/* border-spacing: 20px 5px; */
}

.speaker-cell{
	width: 20%;
}

#speaker-cell-footman{
	width: 27%;
}

#speaker-cell-rifleman{
	width: 25%;
}

#speaker-cell-knight{
}

#speaker-cell-jaina{
}

#speaker-cell-archmage{
}

.speaker{
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#speaker-peasant{
	background-image: url("images/speaker-peasant.png");
}

#speaker-footman{
	background-image: url("images/speaker-footman.png");
}

#speaker-rifleman{
	background-image: url("images/speaker-rifleman.png");
}

#speaker-knight{
	background-image: url("images/speaker-knight.png");
}

#speaker-jaina{
	background-image: url("images/speaker-jaina.png");
}

#speaker-archmage{
	background-image: url("images/speaker-archmage.png");
}

.speech-cell {
	/* line-height: 35px; */
	/* font-size: 30px; */
	vertical-align: top;
	text-align: left;
}

.speechtext {
	/* padding-top: 15px; */
	/* padding-bottom: 15px; */
	border: 2px solid;
}

.speechtext-left{
	/* padding-left: 25px; */
	background-color: rgba(255, 230, 130, 0.80);
	/* border-radius: 35px 35px 35px 0px; */
	border-color: gainsboro;
}


.speechtext-right {
	/* padding-left: 50px; */
	/* padding-right: 25px; */
	/* border-radius: 35px 35px 0px 35px; */
	border-color: rgba(255, 230, 130, 0.8);
}

#icon-preload {
	background-image: url("images/icon-preload.png");
}

#icon-race {
	background-image: url("images/icon-race.png");
}

#icon-scroll {
	background-image: url("images/icon-scroll.png");
}

#download{
	display: none;
}

#manual{
	display: none;
}

#mods{
	display: none;
}

.feature-icon {
	/* width: 30px; */
	/* height: 30px; */
	/* margin-top: 4px; */
	background-size: 100% 100%;
}

.feature-text {
	vertical-align: middle;
	/* font-size: 22px; */
}

/* FOOTER: */

#footer {
	color: gainsboro;
}

/* COMMON STYLES: */

html {
	user-select: none;
}

body {
    font-family: frizqt;
	cursor: url('cursors/cursor.cur'), auto;
	background-color: black;
}

#wrapper {
	
}

.bodyblock {
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 10px; */
	background: url(images/background.png) padding-box repeat repeat fixed;
	/* border: 15px solid; */
    /* border-image: url(images/border.png) repeat; */
	/* border-image-slice: 20; */
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.text-white, .hotkey{
	color: white;
}

.text-yellow, .hotkey:hover{
	color: rgba(255, 230, 130, 0.9);
}

.text-gainsboro{
	color: gainsboro;
}

.text-black{
	color: black;
}

.darker{
	background-color: rgba(0, 0, 0, 0.4);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

a:link {
	color: papayawhip;
}

a:visited {
	color: thistle;
}

a:active {
	color: powderblue;
}

a:hover {
	cursor: url('cursors/pointer.cur'), auto;
}

/* ANIMATIONS: */

@keyframes gear-large-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes gear-small-spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}